@import url(https://fonts.googleapis.com/css?family=Poppins);

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Poppins';
}




/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #9368E9;
  color: #fff;
}

.nav-links a {
  color: #fff;
}


/* LOGO */
.logo {
  font-size: 32px;
  color: white;
}

/* NAVBAR MENU */
.menu {
  align-items: center;
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover,
.active {
  font-weight: bolder;
  border-radius: 5px;
  font-size: 25px;
  /* background-color: rgba(15, 14, 14, 0.302); */
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}




/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}



/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .menu {
    display: none;
    position: absolute;
    background-color: #9368E9;
    z-index: 1111;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #050e0e4b;
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}

footer {
  background: #9368e9e9;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #fefefe;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i {
  font-size: 1.2rem;
  width: 25px;
  color: black;
}

.footer-bottom {
  background: #9368e9;
  width: 100vw;
  padding: 20px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu a {
  color: black;
  text-align: center;
}

.footer-menu ul li a:hover {
  color: black;
}

@media (max-width:500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}